.formrow {
    margin-top: 2px;
    margin-bottom: 6px;
}
.formlabel {
    margin-top: 2px;
}
.formrow .formelement {
    margin-right: 5px;
}
.dialog_content_area {
    margin-bottom: 10px;
    margin-left: 6px;
    margin-right: 6px;
}

.form_attachment_box{
	min-width:250px;
    margin-top: 5px;
}

.attachment_block {
    margin-top: 6px;
}

.dialog_area {
    margin-bottom: 0px;
}

.dialog_action_area {
    margin-bottom: 0px;
}

.cRevealer {
    background-color: @theme_bg_color;
}

.required {
    color: @error_color;
    font-weight: bold;
}

notebook.verticalNotebook tab  {
    margin-left: 0px;
    margin-right: 0px;
}

notebook.verticalNotebook tab label  {
  font-family: "Adwaita Sans";
  font-size: 18px;
  font-weight: 400;
    /* transform: rotate(270deg); */
}

