[Desktop Entry]
Type=Application
Name=Facteur
Categories=Office;Email;
Comment=template based emailing app
Icon=io.github.brainstormtrooper.facteur
Exec=gapplication launch io.github.brainstormtrooper.facteur
DBusActivatable=true
StartupNotify=true
Keywords=business;office;productivity;
